@font-face {
    font-family: "Fightree";
    src: url("../fonts/Figtree-VariableFont_wght.ttf");
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
/*
primary colors
*/
$clr-yellow: hsl(47, 88%, 63%);

/*
neutral colors
*/

$clr-neutral-white: hsl(0, 0%, 100%);
$clr-neutral-grey: hsl(0, 0%, 50%);
$clr-neutral-black: hsl(0, 0%, 7%);

$font-weights: 500;
$font-weights-bold: 800;
$border-radius: 20px;

$padding: 2rem;
html {
    box-sizing: border-box;
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: "Fightree";
    background-color: $clr-yellow;
}

.card {
    display: grid;
    border: 1px solid $clr-neutral-black;
    border-radius: $border-radius;
    background-color: $clr-neutral-white;
    box-shadow: 0.75rem 0.75rem 0 $clr-neutral-black;
    padding: 2.2rem;
    margin: 2rem;

    .card-image {
        img {
            width: 100%;
            border-radius: calc($border-radius / 1.5);
        }
    }

    .card-body {
        // font-size: 1.6rem;
        .btn {
            margin-top: 2rem;
        }
        .published-date {
            font-weight: $font-weights;
            padding-top: 1.5rem;
            font-size: 1.5rem;
        }
        h2 {
            font-size: 2.4rem;
            font-weight: $font-weights-bold;
            padding: 2rem 0;
        }
        .text {
            color: $clr-neutral-grey;
            line-height: 2.5rem;
            font-weight: $font-weights;
        }
    }
    .card-footer {
        padding-top: 2rem;
        .author {
            display: flex;
            align-items: center;
            column-gap: 1.2rem;
            font-weight: $font-weights-bold;

            img {
                width: 3.2rem;
            }
        }
    }
    //all buttons and links
    .btn {
        background-color: $clr-yellow;
        width: min-content;
        padding: 0.8rem 1.5rem;
        font-weight: $font-weights-bold;
        border: 0;
        font-size: 1.2rem;

        border-radius: calc($border-radius / 4);
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: lighten($clr-yellow, 10%);
        }
    }

    a {
        color: $clr-neutral-black;
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover,
        &:focus {
            color: $clr-yellow;
        }
    }
    .btn,
    a {
        &:focus {
            outline: 0.25rem solid $clr-neutral-black;
            border-radius: calc($border-radius / 4);
        }
    }
}

.attribution {
    margin-top: 5rem;
    text-align: center;
}

//focus& hover states
@media (min-width: 600px) {
    body {
        display: grid;
        place-content: center;
        min-height: 100vh;
    }
    .card {
        max-width: calc(38.4rem - (2.2rem * 2)); //~ 384px() from figma design...
        box-shadow: 1.5rem 1.5rem 0 $clr-neutral-black;
    }
}
